.button {
    margin-left: 1100px;
    margin-bottom: 50px;
}

.text-contact {
    font-size: 50px;
    color: azure;
    font-weight: 800;
    color: rgb(164, 164, 177);
}

.point-decoration {
    color: rgb(54, 84, 250);
    font-size: 50px;
   
}

#formulario {
    border-radius: 8px;
}

label {
    color: white;
    font-weight: bold;
}

.button-text {
    font-weight: bold;
}

