.banner {
    margin-top: 100px;
    font-weight: bold;
    color: #FAFAFA;
}

.text-banner {
    font-size: 25px;
    color: rgb(151, 147, 147);
}
        
   

strong {
    font-size: 50px ;
    color:#FAFAFA;

}